body{
    background-image: url(./HIGA62_notepen2.jpg);
    size: 100%;
}

.btn1{
    position: absolute;
    z-index: 1;
    top: 64px;
    left: 90px;
    font-size: 2rem;
    font-family: fantasy;
    animation: biggerfont 1s ease 1s infinite normal both;
    border-radius: 10px;
    cursor: grab;
    transform: rotate(-4deg);
}

.btn2{
    position: absolute;
    z-index: 1;
    top: 64px;
    right: 200px;
    font-size: 2rem;
    font-family: fantasy;
    animation: biggerfont 2s ease 2s infinite normal both;
    border-radius: 10px;
    cursor: grab;
    transform: rotate(-4deg);
}

.btn3{
    position: absolute;
    z-index: 1;
    bottom: 64px;
    left: 112px;
    font-size: 2rem;
    font-family: fantasy;
    animation: biggerfont 3s ease 3s infinite normal both;
    border-radius: 10px;
    cursor: grab;
    transform: rotate(-4deg);
}

.btn4{
    position: absolute;
    z-index: 1;
    bottom: 64px;
    right: 160px;
    font-size: 2rem;
    font-family: fantasy;
    animation: biggerfont 4s ease 4s infinite normal both;
    border-radius: 10px;
    cursor: grab;
    transform: rotate(-4deg);
}

@keyframes biggerfont {
    from {
        background-color: transparent;
        font-size: 0rem;
    }
    to {
        background-color: orange;
        font-size: 2rem;
    }
}

